.page-wrapper {
    position: relative;
}

.flex-container {
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 50px;
}

.testDiv1 {
    height: 1000px;
    width: 1000px;

    position: absolute;
    right: 1rem;
}

.flex-test {
    height: 100px;
    width: 1000px;

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 10px;
}

.screens-test {
    background: black;
}

.screen1 {
    height: 500px;
    width: 1000px;
    background: #80aafd;
}

.flex1 {
    background: black;
    height: 100px;
    width: 100px;
}

.flex1 button {
    background: #80aafd;
    height: stretch;
    width: stretch;
    border: none;
    outline: none;
    /*border-radius: 3px;*/
}