.block-wrapper {
	background: #0255fc;
	width: 175px;
	height: 175px;
	margin: 10px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 5px;
}

.block-wrapper h1, .block-wrapper h2, .block-wrapper h3 {
	text-align: center;
	margin: .5rem;
}

.block-wrapper h2 {
	font-size: 1.25em;
}

